.orders-container {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.orders-table {
  width: 90%;
   max-width: 1000px;
  border-collapse: collapse;
  font-family: Arial;
}

.orders-table th,
.orders-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
}

.orders-table th {
  background: #f5f5f5;
}

.mode {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.buy {
  background: #e6f7e6;
  color: green;
}

.sell {
  background: #fdeaea;
  color: red;
}